<html>
  <head>
    <meta charset='UTF-8' />
    <title>BoraHub </title>
  </head>
  <body
    style='font-family: Arial, sans-serif; text-align: left; padding: 20px; background-color: #f4f4f4;'
  >
    <div
      style='background-color: #ffffff; padding: 20px; margin: 0 auto; width: 80%; box-shadow: 0 4px 8px rgba(0,0,0,0.1);'
    >
    <img
        width='300px'
        alt=''
        src='https://www.borahub.com.br/assets/imgs/template/borahub.png'
      />
      <h1>Olá, {{name}}</h1>
      <p>O recrutador da vaga {{vagaName}} acabou de enviar um feedback personalizado. </strong></p>
      
      <h3>O fit candidato-vaga é de {{score}}/100.</h3>

      <p><strong>Segue avaliação do recrutador:</strong></p>
      <p style='text-align:left'>{{{assessment}}}</p>
      <a
        href='{{url}}'
        style='display: inline-block; padding: 10px 20px; color: #ffffff; background-color: #766ef4; border: none; border-radius: 5px; text-decoration: none;'
      >Ver no site</a>
      <p>Atenciosamente,</p>
      <p>Equipe BoraHub</p>
    </div>
  </body>
</html>