<table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container"
  style="box-shadow: 0 1px 4px rgba(0,0,0,0.1) !important; background-color: #fdfdfd; border: 1px solid #dcdcdc; border-radius: 3px !important">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_header"
          style="background-color: #3a2460; border-radius: 3px 3px 0 0 !important; color: #ffffff; border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
          <tbody>
            <tr>
              <td id="header_wrapper" style="padding: 36px 48px; display: block">
                <h1
                  style="color: #ffffff; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 30px; font-weight: 300; line-height: 150%; margin: 0; text-align: left; text-shadow: 0 1px 0 #7797b4; -webkit-font-smoothing: antialiased">
                  Novo Orcamento de Cliente
                </h1>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body">
          <tbody>
            <tr>
              <td valign="top" id="body_content" style="background-color: #fdfdfd">
                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td valign="top" style="padding: 48px">
                        <div id="body_content_inner"
                          style="color: #737373; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left">
                          <p style="margin: 0 0 16px">
                            Você recebeu um pedido de {{contactName}}. O pedido é o seguinte:
                          </p>

                          <h2
                            style="color: #3a2460; display: block; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 16px 0 8px; text-align: left">
                            <span style="font-size: 14px">Orçamento #{{id}}
                            </span><br /> ID Orçamento no SAP #{{idSap}}
                          </h2>
                          <table class="td" cellspacing="0" cellpadding="6" style="width: 100%; font-family: " Helvetica
                            Neue", Helvetica, Roboto, Arial, sans-serif; color: #737373; border: 1px solid #e4e4e4"
                            border="1">
                            <thead>
                              <tr>
                                <th class="td"
                                  style="width: 100%;text-align: left; color: #737373; border: 1px solid #e4e4e4; padding: 12px">
                                  Produto
                                </th>
                                <th class="td"
                                  style="text-align: left; color: #737373; border: 1px solid #e4e4e4; padding: 12px">
                                  Quantidade
                                </th>
                              </tr>
                            </thead>
                            <tbody>

                              {{#each products}}
                              <tr class="order_item">
                                <td class="td"
                                  style="text-align: left; vertical-align: middle; border: 1px solid #eee; word-wrap: break-word; color: #737373; padding: 12px">
                                  {{name}}
                                </td>
                                <td class="td"
                                  style="text-align: left; vertical-align: middle; border: 1px solid #eee; color: #737373; padding: 12px">
                                  {{quantity}}
                                </td>
                              </tr>
                              {{/each}}
                            </tbody>

                          </table>
                          <br />
                          <h2
                            style="color: #3a2460; display: block; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 16px 0 8px; text-align: left">
                            Dados do cliente
                          </h2>
                          <ul>

                            <li>
                              <strong>Endereço de e-mail:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactEmail}}
                              </span>
                            </li>
                            <li>
                              <strong>Telefone:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactPhone}}
                              </span>
                            </li>

                            {{!-- <li>
                              <strong>Preferência de ser contactado: </strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                '.$preferencia.' </span>
                            </li> --}}

                            <strong>CEP:</strong>
                            <span class="text"
                              style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                              {{contactZipCode}}
                            </span>
                            </li>
                            <li>
                              <strong>Endereço:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactAddress}}
                              </span>
                            </li>
                            <li>
                              <strong>Número:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactNumber}}
                              </span>
                            </li>
                            <li>
                              <strong>Complemento:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactComplement}}
                              </span>
                            </li>
                            <li>
                              <strong>Cidade:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactCity}}
                              </span>
                            </li>
                            <li>
                              <strong>Estado:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactState}}
                              </span>
                            </li>
                            <li>
                              <strong>Empresa:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{contactCompany}}
                              </span>
                            </li>
                            <li>
                              <strong>Data prevista para entrega do mobiliário:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{deliveryDate}}
                              </span>
                            </li>
                            <li>
                              <strong>Período de Locação:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{rentalPeriod}} meses
                              </span>
                            </li>
                            {{!-- <li>
                              <strong>Motivo da Locação:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                $html .= $this->params->motivo;
                              </span>
                            </li> --}}
                            <li>
                              <strong>Comentários:</strong>
                              <span class="text"
                                style="color: #505050; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif">
                                {{comments}}
                              </span>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="10" cellspacing="0" width="600" id="template_footer">
          <tbody>
            <tr>
              <td valign="top" style="padding: 0; -webkit-border-radius: 6px">
                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td colspan="2" valign="middle" id="credit"
                        style="padding: 0 48px 48px 48px; -webkit-border-radius: 6px; border: 0; color: #99b1c7; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>