<html>
  <head>
    <meta charset='UTF-8' />
    <title>BoraHub </title>
  </head>
  <body
    style='font-family: Arial, sans-serif; text-align: left; padding: 20px; background-color: #f4f4f4;'
  >
    <div
      style='background-color: #ffffff; padding: 20px; margin: 0 auto; width: 80%; box-shadow: 0 4px 8px rgba(0,0,0,0.1);'
    >
      <p>Olá, {{name}}</p>
      <p>Recebemos seu contato e em breve retornamos!</p>
      <p>Seu contato foi:</p>
      <p><strong>Nome: </strong>{{name}}</p>
      <p><strong>Email: </strong>{{email}}</p>
      <p><strong>Telefone: </strong>{{phone}}</p>
      <p><strong>Empresa: </strong>{{companyName}}</p>
      <p><strong>Comentário: </strong>{{comments}}</p>

      <p>Atenciosamente,</p>
      <p>Equipe BoraHub</p>

    </div>
  </body>

</html>